:root{
  /* fonts */
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;

  --font-regular: 400;
  --font-light: 200;
  --font-bold: 700;

  /* colors */
  --red: #993929;
  --gray: #969799;
  --black: #272727;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-size: var(--font-sm);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: var(--gray);
  color: var(--black);
  padding: 1rem;
}

footer label {
  font-size: var(--font-md);
  font-weight: var(--font-bold);
}

footer a {
  text-decoration: none;
  color: var(--black);
}

.content {
  padding: 1rem;
}

.title {
  margin-bottom: 0.6rem;
}

.social-media {
  margin-top: 3%;
}